<html>
   <body>
      <form action = "http://localhost:5000/result" method = "POST">
        <label for="tenure">tenure:</label>
        <input type="text" id="tenure" name="tenure" size="50"><br><br>
        <label for="MonthlyCharges">MonthlyCharges:</label>
        <input type="text" id="MonthlyCharges" name="MonthlyCharges" size="50"><br><br>

        <label for="TechSupport">TechSupport:</label><br>
        <input type="radio" name="TechSupport" value="Yes">Yes<br>
        <input type="radio" name="TechSupport" value="No">No<br>
        <input type="radio" name="TechSupport" value="No internet service">No internet service<br>

        <label for="gender">gender:</label><br>
        <input type="radio" name="gender" value="Male">Male<br>
        <input type="radio" name="gender" value="Female">Female<br>

        <label for="StreamingTV">StreamingTV:</label><br>
        <input type="radio" name="StreamingTV" value="Yes">Yes<br>
        <input type="radio" name="StreamingTV" value="No">No<br>
        <input type="radio" name="StreamingTV" value="No internet service">No internet service<br>

        <label for="PaperlessBilling">PaperlessBilling:</label><br>
        <input type="radio" name="PaperlessBilling" value="Yes">Yes<br>
        <input type="radio" name="PaperlessBilling" value="No">No<br>

        <label for="PhoneService">PhoneService:</label><br>
        <input type="radio" name="PhoneService" value="Yes">Yes<br>
        <input type="radio" name="PhoneService" value="No">No<br>


         <!-- <p>Physics <input type = "text" name = "Physics" /></p>
         <p>Chemistry <input type = "text" name = "chemistry" /></p>
         <p>Maths <input type ="text" name = "Mathematics" /></p> -->
         <p><input type = "submit" value = "submit" , font = 20 size="50"/></p>
      </form>
   </body>
</html>
